<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" #userName="ngModel" [ngModel]="username" required
                   maxlength="50">
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" name="email" ngModel required email>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestEmail(userName)">Suggest an Username</button>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" ngModel>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <label for="answer">Answer</label>
          <textarea class="form-control" id="answer" name="answer" rows="3" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your answer: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender">
            {{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
